@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<h2>
    Administrador de contenidos.
</h2>
<p>Seleccione en el menú de la izquierda las opciones necesarias para la administración de los contenidos.</p>

<h3><i class="icon-dashboard"></i> Dashboard:</h3>
<p>Direcciona a la página actual.</p>
<h3><i class="icon-bookmark"></i> Secciones:</h3>
<p>Administra las secciones del sitio web.</p>
<h3><i class="icon-edit"></i> Contenido:</h3>
<p>Administra el contenido de cada una de las secciones administrables.</p>
<h3><i class="icon-envelope"></i> Contacto:</h3>
<p>Configura la información de contacto.</p>