
@{
    ViewBag.Title = "GeoServidor | Convenios y acuerdos Interinstitucionales";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div id="cuerpo">
    <div id="convenios">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="activo">
                Convenios y acuerdos Interinstitucionales
            </li>
        </ol>
        <div class="subcontenedor">

            <div class="col-md-12">


                <h1>Convenios y acuerdos Interinstitucionales </h1>

                <p>
                    <img src="@Url.Content("~/resources/images/thumbnails/cooperacion.jpg")" />
                </p>
                <p>
                    En esta sección se describen los proyectos referidos al manejo de información temática en los que el área de Sistemas de información Geográfica del MINAM participa brindando soporte tecnológico y profesional en coordinación con otras instituciones a fin de generar información especializada y de buena calidad con la finalidad de fortalecer los procesos de análisis de datos geoespaciales y brindar mayores herramientas para la toma de decisiones.

                </p>

                <p>
                    <ol>
                        <li><a>Inventario Forestal Nacional (MINAM-MINAG)</a></li>

                        <li><a>Convenio MINAM-Carnegie</a></li>

                        <li><a>Monitoreo de Conflictos Socio-Ambientales(MINAM-Defensoría del Pueblo)</a></li>

                        <li><a>Proyecto Análisis de Cambios de la Cobertura de la Tierra- CAN </a> </li>
                    </ol>
                </p>


                <div class="limpiar"></div>
                <div class="espaciobottom"></div>

            </div>
        </div>
        <div class="limpiar"></div>
    </div>
    </div>
@section PageScriptSection{

}





