@{
    ViewBag.Title = "GeoServidor | Plataforma de la Amazonía Peruana";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div id="cuerpo">
    <div id="PlataformaAmazonia">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li><a href="#">Convenios y acuerdos Interinstitucionales</a></li>
            <li class="activo">Plataforma de la Amazonía Peruana</li>
        </ol>

        <div class="subcontenedor">

            <div class="col-md-12">


                <h1>Plataforma de la Amazonía Peruana </h1>





                <h3>   VISOR CARTOGRAFICO</h3>
                <p>


                    El Sistema Cartográfico de la Plataforma de la Amazonía Peruana cuenta con un Visor de Mapas Interactivos (Visor Cartográfico), el cual está alimentado con información cartográfica sobre la tematica ambiental y la Diversidad Biológica de la Amazonía Peruana. Esta información es proporcionada por los nodos asociados, como son el Instituto de Investigaciones de la Amazonía Peruana y el Ministerio del Ambiente a traves de sus Geoservidores. La Plataforma cuenta ademas con un Gestor de Metadatos Cartográficos, que contiene la información de los datos cartográficos vertidos en el Visor; los cuales ofrecen la disponibilidad de navegar por los mapas, contar con un abundante catálogo de metadatos, medición y análisis de superposición. También se puede obtener mapas y reportes de las bases de datos existentes.

                </p>
                <p>

                    <img src="/resources/images/thumbnails/amazonia1.png" />

                </p>
                <p>
                    <ol>
                        <li>
                            VISUALIZACION DE MAPAS INTERACTIVOS<br />
                            <a> Visor de Mapas Interactivos</a>
                        </li>
                        <li>
                            CATALOGO DE METADATOS<br />
                            <a>Catalogador de Metadata Cartográfica</a>
                        </li>
                        <li>
                            LISTADOS DE SERVICIOS DE MAPAS (WMS)<br />
                            <a>
                                Ministerio del Ambiente
                            </a>
                            <a>IIAP</a>
                        </li>
                        <li>
                            INTERCAMBIO DE BASE DE DATOS<br />
                            <a> Módulo de Intercambio de Datos</a>

                        </li>

                    </ol>
                </p>


                <div class="limpiar"></div>
                <div class="espaciobottom"></div>

            </div> 
        </div>
        <div class="limpiar"></div>
    </div>
</div>
        @section PageScriptSection{

        }




