
#contenedor
{
    /*position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -150px;
    width: 270px;*/
    box-shadow: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width:900px;
}

#cuerpo {
    clear: both;
    display: block;
}

.fondo {
    background-color: #B22222;
}

#cabecera
{
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    margin-bottom: 0px !important;
}

input
{
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    font: bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
}

    input#txtNombreUsuario
    {
        background: #fff url(../../images/loginsprite.png) no-repeat 0 -23px;
        padding-left: 20px;
        width: 244px;
    }

    input#pwdContrasenia
    {
        background: #fff url(../../images/loginsprite.png) no-repeat 0 -53px;
        padding-left: 20px;
        width: 244px;
    }





#nota a:hover
{
    opacity: .5;
}

#imgLogo
{
    width: 200px;
    height: 50px;
}
