@{
    ViewBag.Title = "Cobertura";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div id="cuerpo">
    <div id="monitoreo">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li><a href="@Url.Action("Index", "Monitoreo")">Monitoreo e Información Territorial</a></li>

            <li class="activo">Cobertura y Uso de la Tierra,CORINE </li>
        </ol>

        <div class="subcontenedor">

            <div class="col-md-12">
                <h1>Cobertura y Uso de la Tierra,CORINE </h1>




                <h3>   CONVENIO DE COFINANCIAMIENTO N° 02/2011 ENTRE LA SECRETARIA GENERAL DE LA COMUNIDAD ANDINA, UNIVERSIDAD NACIONAL AGRARIA LA MOLINA  Y EL MINISTERIO DEL AMBIENTE</h3>

                <h3>PROYECTO ANALISIS DE LAS DINAMICAS DE CAMBIO DE COBERTURA DE LA TIERRA EN LA COMUNIDAD ANDINA</h3>

                <h3>Resumen</h3>

                <p>

                    Durante los años 2008 y 2009, la Secretaria General de la Comudidad Andina en coordinacion con los paises y con el apoyo técnico de CONDESAN ha liderado el desarrollo de una propuesta conceptual y metodológica prelimianar para estudiar los patrones de cobertura de la tierra y su relación con el estado de conservación de los ecosistemas andinos. Dicha propuesta esta enmarcada en el Proyecto denominado "Dinámicas de Cambio de Cobertura de la Tierra en la Comudidad Andina" y se viene desarrollando con la participación de especialistas de los cuatro paises miembros.
                </p>
                <p>    El Proyecto tiene como objetivo fortalecer la gestión ambiental en el Perú a partir de la generación de información que apoye a la toma de decisiones orientadas a la planificación y ordenamiento del territorio. Para ello se ha planteado de manera especifica la necesidad de fortalecer la colaboración entre los paises a través del mejoramiento de capacidades técnicas; desarrollar metodologías que permitan la representación cartográfica de patrones de cobertura de la tierra así como la representación de la diversidad biológica a nivel de ecosistemas.</p>

                <p>
                    <img src="/resources/images/thumbnails/cobertura-imagen1.jpg" />


                </p>


                <h3>
                    Leyenda
                </h3>

                <p>    La leyenda fue desarrollada siguiendo los acuerdos regionales vinculados a trabajar con el esquema CORINE Land Cover (IDEAM 2010). Este esquema ha sido adaptado para Colombia, y da un arco de comparabilidad internacional. CORINE Land Cover (CLC) es una metodología para la construcción de mapas de cobertura y uso de la tierra. Emplea una leyenda jerárquica, que vincula distintos niveles de detalle espacial con distintos niveles de detalle temático.</p>

                <p> Uno de los aspectos revisados fue la estructura de la leyenda para la clase 2, que comprende las áreas dominadas por actividades agropecuarias. En particular, se comentó la dificultad práctica de distinguir agricultura permanente de transitoria en varias partes del territorio nacional. Este aspecto que viene discutiéndose hace bastante tiempo no encontró una solución, más allá de, en caso de duda, incorporar el área a la clase 2.4 (mosaico agropecuario). Siguiendo el esquema de CLC, la clase 2.4 incorpora no sólo las áreas donde distintos tipos de actividad agrícola se mezcla, si no que también incorpora las áreas de mosaico agropecuario-natural. En la discusión se planteó que esta mezcla de mosaico de áreas agrícolas consolidadas con mosaicos de áreas agrícolas y naturales, al nivel de reporte regional (nivel 2) reducía la capacidad de registrar cambios en las áreas más dinámicas de los ecosistemas, por lo que parecía conveniente separar los mosaicos agropecuarionatural de los mosaicos agropecuarios en una subclase de la clase 2. Un aspecto importante de esta propuesta (ver Cuadro 1) es que, recogiendo lo planteado por CLC-Colombia no supone una simetría entre lo natural y lo no-natural, lo que se refleja en que el umbral entre las áreas de mosaico dominadas por lo agropecuario (clase 2) requieren sólo un 30% de área intervenida. Este umbral implícitamente reconoce que el área afectada por</p>

                <p>
                    <img src="/resources/images/thumbnails/cobertura-imagen2.jpg" />


                </p>
                <p>
                    <img src="/resources/images/thumbnails/cobertura-imagen3.jpg" />


                </p>

                <h3>
                    Metodología y Resultados
                </h3>

                <p>
                    El proceso de definición y discusión de metodologías empleables para desarrollar el mapa de cobertura de la tierra del Perú estuvo enfocado en aprender de las experiencias regionales y buscar un método que permita fortalecer la replicabilidad y eficiencia del procesamiento de las imágenes satelitales. En este marco, se partió de los acuerdos regionales que planteaban emplear la metodología CORINE Land Cover como base para el desarrollo de la propuesta regional (IDEAM, IGAC, y CORMAGDALENA 2008). Así mismo, como parte de la discusión seguida en este proyecto, se buscó una metodología que permitiera acumular información en el largo plazo, como un mecanismo de mejora continua del proceso, y que permita incorporar mecanismos de control de la calidad de los distintos pasos del proceso. Estos criterios de control de calidad buscan darle al intérprete una señal fiable de la confianza con que ha terminado los distintos pasos del procesamiento.

                </p>
                <p>
                    La opción por una metodología que facilite la acumulación de lo aprendido en el largo plazo llevó a explorar sistemas basados en clasificación supervisada, así como al diseño de formatos y guías para documentar los procesamientos realizados o por realizarse. Un conjunto de herramientas informáticas se han también empezado a desarrollar para facilitar el registro y sistematización de la información recolectada, y se espera que en un futuro estas herramientas puedan también facilitar su análisis y evaluación.

                </p>
                <p>
                    Por otro lado, la búsqueda de sistemas que ayuden a la estandarización del proceso de interpretación llevó a explorar en profundidad la segmentación como herramienta. Se compararon los sistemas de clasificación basados en segmentos con sistemas basados en píxeles con el fin de evaluar el desempeño de cada uno de ellos. Esta comparación se basó en un conjunto de criterios previamente establecidos, entre ellos calidad temática, tiempo de implementación de la metodología y tiempo de procesamiento. Muchos de estos análisis se hicieron de forma cualitativa.

                </p>
                <p>
                    En la escena binacional Perú-Bolivia (ver Figura 1) se trabajaron varias pruebas metodológicas con el fin de identificar la que mejor responda al área de estudio y a las necesidades de construir un sistema de monitoreo que pueda aprender en el largo plazo. Este último criterio, sumado al buen desempeño que tuvieron, llevó a evaluar con mayor hincapié dos de los protocolos basados en clasificación supervisada, uno empleando píxeles como unidad de clasificación y el otro empleando segmentos para lo mismo. La principal ventaja de una clasificación basada en píxeles es que, al trabajar directamente con la imagen, daría resultados iniciales más rápidos y consistentes. Por su parte, la segmentación permite incorporar aspectos espaciales o de textura en la clasificación de forma replicable, reduciendo la subjetividad del intérprete al momento de dibujar polígonos. Estas dos metodologías, junto a otras variantes referidas al uso o no de información complementaria, o a las herramientas de generalización empleadas, se aplicaron a un conjunto más amplio de imágenes. Estos resultados se presentan en los acápites subsiguientes, luego de las presentación sobre los resultados de los talleres de capacitación y de los protocolos de preprocesamiento de imágenes satelitales (principalmente ortorrectificación).

                </p>
                <p>
                    <img src="/resources/images/thumbnails/cobertura-imagen4.jpg" />


                </p>

                <h3>  Protocolo para la ortorrectificación de las imágenes</h3>

                <p>
                    En paralelo a los procesos de capacitación previamente comentados, se ha venido desarrollando un protocolo para la ortorrectificación de las imágenes Landsat que se emplearán en el trabajo. El protocolo trabajado se basa en el protocolo desarrollado por el Ministerio del Ambiente del Ecuador, con algunas modificaciones. Entre las principales modificaciones está: a) la generación de una malla de 20 x 20 km que facilite la distribución de los puntos de control, b) la definición de una densidad de puntos en función de la topografía de cada cuadrado de la malla (1 punto cada 2 15 cuadrados en áreas planas, 1 punto por cuadrado en áreas con baja rugosidad, y 2 puntos por cuadrado en áreas con topografía muy rugosa, en este último caso se pondría un punto en una zona alta y otro en una parte baja) y c) el uso de Autosync de ERDAS (opcional).
                </p>
                <p>
                    AutoSync es un complemento de ERDAS (Geosystems 2003) que sirve para alinear dos o más imágenes de tipos desiguales provenientes de diferentes sensores o a diferentes resoluciones, puede mejorar los alineamientos de juegos de información georreferenciados, o alinear imágenes crudas con imágenes georreferenciadas.
                </p>
                <p>
                    Además, se ha desarrollado un protocolo para evaluar el nivel de ajuste entre dos capas ortorrectificadas. El protocolo puede ser aplicado para comparar a) el geocover con la carta nacional, b) el geocover con la imagen ortorrectificada, c) la carta nacional con la imagen ortorrectificada, o cualquier otro par de capas que se consideren correctamente ortorrectificadas. Este protocolo busca identificar las principales áreas con desfase entre las capas, y por ende, si se compara el geocover con la imagen ortorrectificada permitirá evaluar la replicabilidad y calidad la ortorrectificación realizada.
                </p>
                <p>
                    El protocolo de control de calidad de la ortorrectificación consiste en una revisión cuadrante por cuadrante de los principales desfases observados en cada uno de ellos. En cada área con desfase identificada se genera un vector que representa el desplazamiento entre las dos capas. El protocolo de ortorrectificación y el de control de calidad se ha aplicado a las cinco imágenes del área central del Perú y a la imagen que se trabajará de forma conjunta con Bolivia (ver Cuadro 3). En el caso de la imagen en la frontera con Ecuador, el acuerdo binacional es trabajar con las escenas ya ortorrectificadas por Ecuador. La Figura 2 muestra el resultado de la aplicación del protocolo de validación de la imagen ortorrectificada. Como se ve, a pesar de que el RMS reportado por el ERDAS al momento de calibrar el modelo era menor a 30m, existen sectores con desfases de hasta 8 píxeles.
                </p>
                <p>
                    <img src="/resources/images/thumbnails/cobertura-imagen5.jpg" />


                </p><p>
                    <img src="/resources/images/thumbnails/cobertura-imagen6.jpg" />


                </p>

                <div class="limpiar"></div>
                <div class="espaciobottom"></div>

            </div>
            <!-- fin contenido derecho -->

        </div>

    </div>

        </div>


        @section PageScriptSection{

        }

