@{
    ViewBag.Title = "Monitoreo e Información Territorial";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div id="cuerpo">
    <div id="monitoreo">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="activo">Monitoreo e Información Territorial</li>

        </ol>

        <div class="subcontenedor">

            <div class="col-md-12">



                <h1>Monitoreo e Información Territorial </h1>

                <p>

                    El MINAM viene desarrollando capacidades para el monitoreo de la situación territorial  y ambiental del país, proveyendo con información para el cumplimiento de sus funciones y coordinación interinstitucional (MINAG), en el marco de las Ley General del Ambiente,  la Política Nacional del Ambiente y el Plan Nacional de Acción Ambiental.
                </p>
                <p>
                    <img src="@Url.Content("~/resources/images/thumbnails/monitoreo1.png")" />

                </p>

                <div class="espaciobottom"></div>

            </div>
          

        </div>

    </div>
    </div>

      
        @section PageScriptSection{

        }


