@{
    ViewBag.Title = "GeoServidor | Enlace";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}




<div id="cuerpo">
    <div id="enlace">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="activo">Enlaces</li>

        </ol>

        <div class="subcontenedor">

            ´ñ<div class="col-md-12">

                <h1>    Enlaces</h1>


                <section id="bloqueenlace">

                    <article class="item">
                        <figure class="icon"><i class="fa fa-link "></i></figure>
                        <header>Suspendisse eleifend massa commodo porta lacus bibendum?</header>

                        <aside><a class="btn" href="#"> <i class="fa fa-search"></i> Ver</a></aside>

                    </article>
                    <article class="item">
                        <figure class="icon"><i class="fa fa-link "></i></figure>
                        <header>Suspendisse eleifend massa commodo porta lacus bibendum?</header>

                        <aside><a class="btn" href="#"> <i class="fa fa-search"></i> Ver</a></aside>>

                    </article>
                    <article class="item">
                        <figure class="icon"><i class="fa fa-link "></i></figure>
                        <header>Suspendisse eleifend massa commodo porta lacus bibendum?</header>

                        <aside><a class="btn" href="#"> <i class="fa fa-search"></i> Ver</a></aside>

                    </article>
                    <article class="item">
                        <figure class="icon"><i class="fa fa-link "></i></figure>
                        <header>Suspendisse eleifend massa commodo porta lacus bibendum?</header>

                        <aside><a class="btn" href="#"> <i class="fa fa-search"></i> Ver</a></aside>

                    </article>

                </section>
            </div>
       </div>

    </div>

</div>
@section PageScriptSection{

}





