/*
Font-family calls for web fonts to be loaded conditionally by webfont.js
*/
@font-face{
	font-family:"FrutigerNextW04-Italic";
		src:url("Fonts/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix");
		src:url("Fonts/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix") format("eot"),
		url("Fonts/ded315bd-b7cb-4155-8b66-c8130665ca86.woff") format("woff"),
		url("Fonts/3d8254e6-0430-4041-be35-086e2d354c65.ttf") format("truetype"),
		url("Fonts/b73363d5-a31c-4bcf-a9a8-c976b259b9f7.svg#b73363d5-a31c-4bcf-a9a8-c976b259b9f7") format("svg");
}
@font-face{
	font-family:"Frutiger Next W04 Light";
		src:url("Fonts/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix");
		src:url("Fonts/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix") format("eot"),
		url("Fonts/c4021bd0-7750-4b13-93ba-023c8ff640d9.woff") format("woff"),
		url("Fonts/9c337598-20c7-4768-9c93-178bfaee21f2.ttf") format("truetype"),
		url("Fonts/79b4e97e-05c5-40c9-ab80-ee9e98640927.svg#79b4e97e-05c5-40c9-ab80-ee9e98640927") format("svg");
}
@font-face{
	font-family:"FrutigerNextW04-Medium";
		src:url("Fonts/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix");
		src:url("Fonts/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix") format("eot"),
		url("Fonts/aa098831-f184-40d1-bd48-0f2a034c8e17.woff") format("woff"),
		url("Fonts/e845c197-93d2-4207-93f7-0cb4a768e2cb.ttf") format("truetype"),
		url("Fonts/d9885221-9a3f-496b-9a35-54676cfb23e6.svg#d9885221-9a3f-496b-9a35-54676cfb23e6") format("svg");
}
@font-face{
	font-family:"FrutigerNextW04-Regular";
		src:url("Fonts/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix");
		src:url("Fonts/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix") format("eot"),
		url("Fonts/b88d391b-3aef-4339-874f-747a0aebe05f.woff") format("woff"),
		url("Fonts/a7018cfc-61ad-41b0-84d3-bfc319a4029b.ttf") format("truetype"),
		url("Fonts/77ecb448-590f-4c02-adc8-779d74e4b854.svg#77ecb448-590f-4c02-adc8-779d74e4b854") format("svg");
}
