@{
    ViewBag.Title = "GeoServidor | Presentación ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


<div class="section main">
    <div>
        <div class="adsk-breadcrumb breadcrumb">
            <div class="section adsk-breadcrumb container setPos">
                <ul class="adsk-inlineList">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/solutions">Solutions</a>
                    </li>
                    <li>
                        <a href="/solutions/building-information-modeling">Building Information Modeling</a>
                    </li>
                    <li>
                        Overview
                    </li>

                </ul>
            </div>

        </div>

        <div class="small-banner banner">
            <div class="section adsk-static-banner adsk-authorBG expand" style="background-image: url(http://static-dc.autodesk.net/content/dam/autodesk/www/solutions/building-information-modeling/banner/bim-center-2015-banner-1240x250.jpg);">
                <div class="grid adsk-industry-banner-image">
                    <div class="parbase adsk-image image"></div>
                </div>
                <div class="banner-text-block plx">
                    <h1 class="s0 allCaps dkGrey"><b>BIM:</b></h1>
                    <h1 class="s0 allCaps dkGrey">Building Information Modeling</h1>
                </div>
            </div>

            <script type="text/javascript">
    $(function() {
        if (typeof adsk !== 'undefined' && adsk.banner) {
            adsk.banner.addScrollEvent($('.adsk-product-banner.expand'));
        }
    });
            </script>
        </div>
    </div>


    <div class="container content">
        <div class="col adsk-content size98of98">
            <div class="section">
                <div class="section adsk-right-sash grid ">

                    <div class="section">
                        <div class="parsys adsk-right adsk-parsys">
                        </div>
                    </div>
                </div>

             
                <div class="parsys adsk-middle adsk-parsys">
                    <div class="parbase section base-code">
                        <div class="bim-intro">
                            <h1 class="s1">Transform business value with BIM</h1>
                            <p><span class="s4-lh21">Building Information Modeling (BIM) is changing how buildings, infrastructure, and utilities are planned, designed, built, and managed. Autodesk BIM solutions help turn information into insight and deliver business value at every step in the process.&nbsp;</span></p>

                        </div>
                        <div class="bim-teaser">
                            <h4 class="s4-b mdGrey">Business leaders talk BIM</h4>
                            <p>Industry professionals share their perspectives on Building Information Modeling.</p>
                            <a class="adsk-cta s5 phm" href="/solutions/building-information-modeling/customer-qa">Read the Q&amp;A<span class="cta-arrow"></span></a>
                        </div>
                        <div style="clear:both;"></div>
                        
                        <hr class="bb3 mvl">

                    </div>
                    <div class="parsys_column adskcol-29">
                        <div class="parsys_column adskcol-29-c0">
                            <div class="section-header parbase section">








                                <h3 class="s3 mdGrey">
                                    Industry solutions
                                </h3>
                            </div>
                            <div class="rich-text parbase section">

















                                <p>BIM gets the right information to the right people at the right time, helping firms innovate and compete. Autodesk's comprehensive BIM portfolio delivers a workflow advantage for virtually any project.</p>











                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="parbase section base-code">
                        <style>
                            .bim-solutions {
                                min-height: 300px;
                            }

                                .bim-solutions .solutions-item {
                                    width: 192px;
                                    display: inline-block;
                                    vertical-align: top;
                                    padding-right: 20px;
                                }
                        </style>


                    </div>

                    <!-- relacionados -->
                    <div class="rich-text parbase section">
                        <div class="bim-solutions">
                            <div class="solutions-item">
                                <img alt="BIM for building design and engineering" src="http://static-dc.autodesk.net/content/dam/autodesk/www/solutions/building-information-modeling/overview/building-design-bim-thumb-192x85.jpg"><h4 class="s4-b mdGrey"><a adhocenable="false" href="/solutions/building-information-modeling/design-engineering">Building design &amp; engineering</a></h4>
                                <p>Articulate your design vision and deliver optimized engineering systems.</p>
                            </div>
                            <div class="solutions-item">
                                <img alt="BIM for construction" src="http://static-dc.autodesk.net/content/dam/autodesk/www/solutions/building-information-modeling/overview/construction-bim-thumb-192x85.jpg"><h4 class="s4-b mdGrey"><a adhocenable="false" href="/solutions/building-information-modeling/construction">Construction</a></h4>
                                <p>Better align construction planning with performance.</p>
                            </div>
                            <div class="solutions-item">
                                <img alt="BIM for infrastructure" src="http://static-dc.autodesk.net/content/dam/autodesk/www/solutions/building-information-modeling/overview/infrastructure-bim-thumb-192x85.jpg"><h4 class="s4-b mdGrey"><a adhocenable="false" href="/solutions/building-information-modeling/infrastructure">Infrastructure</a></h4>
                                <p>Streamline planning and design and deliver higher-quality projects.</p>
                            </div>
                            <div class="solutions-item">
                                <img alt="BIM for utilities" src="http://static-dc.autodesk.net/content/dam/autodesk/www/solutions/building-information-modeling/overview/utilities-bim-thumb-192x85.jpg"><h4 class="s4-b mdGrey"><a adhocenable="false" href="/solutions/building-information-modeling/utilities">Utilities</a></h4>
                                <p>Improve efficiency and meet expectations for service quality.</p>
                            </div>
                            <div style="clear: both;"></div>
                        </div>


                    </div>

                </div>


            </div>
        </div>


    </div>
</div>


