@{
    ViewBag.Title = "GeoServidor | Explorar Mi Territorio";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div id="cuerpo">
    <div id="explorar">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="activo">Explorar Mi Territorio</li>

        </ol>

        <div class="subcontenedor">
            


            <div class="col-md-12">
              <h1>Explorar Mi Territorio</h1>
                 <p>
                    Esta herramienta permitirá utilizar el Banco de Imágenes del MINAM, que abarca todo el país y que comprende diversos productos de sensores como Landsat, Ikonos, Quickbird, RapidEye, Aerotransportadas, entre otros. Ademas canalizará las imágenes de alta resolución y productos elaborados a traves del Observatorio Aéreo de CARNEGIE, gracias al convenio entre MINAM y dicha institución.
                </p>
                <p>
                    <img src="/resources/images/thumbnails/presentacion41.png" />
                </p>
                <p>
                    Formará parte de las actividades de Gestión de Información Geográfica que el MINAM realiza a través de la plataforma el GEOSERVIDOR y comprenderá  asistencia técnica y servicios On Line a un amplio conjunto de Usuarios (MINAM, GOREs, Gob. Locales y Sectores).
                </p>
              
                <p>
                    Comprenderá los 04 motores que impulsan la Nube de Información: Capturar, Procesar, Compartir y Entregar:
                   
                </p>
                <p>
                    <img src="/resources/images/thumbnails/explorar1.png" />
                </p>
                <p>
                    Contribuirá a:

                </p>
                <ul>
                    <li>Fortalecer las buenas prácticas gubernamentales en gestión pública en los rubros de Acceso y Transparencia de Información; Gestión Ambiental Efectiva que el MINAM viene desarrollando.</li>
                    <li>Impulsar el uso de imágenes en todos los niveles de gobierno, siendo el Primer Servidor de Imágenes de Satélite en el Perú.</li>
                    <li>Hacer un uso efectivo de la inversión pública y de la cooperación internacional que ha permitido adquirir información satelital que actualmente se encuentran almacenada y que seguirá actualizándose a través de convenios y compras.</li>
                    <li>Proporcionar información de base para los procesos de análisis al interior del MINAM, a nivel de los Gobiernos Regionales y Locales, así como a los sectores del Estado.</li>
                    <li>Mejorar la capacidad de interpretación sobre el territorio.</li>
                </ul>
                <p>
                    <img src="/resources/images/thumbnails/explorar3.png" />
                </p>
              <p>

                  

              </p>
                <p>
                    <div class="limpiar">
                        <a class="btn">
                            Ir a visor de imágenes satelitales
                        </a>
                    </div>
                </p>
                <div class="limpiar"></div>
                <div class="espaciobottom"></div>
            </div>
            
        </div>

           <div class="limpiar"></div>
        </div>
    </div>

        @section PageScriptSection{
          
        }








