
@{
    ViewBag.Title = "GeoServidor | Geoservicios y Recursos IDE";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div id="cuerpo">
    <div id="explorar">
        <ol class="rastro">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="activo">Geoservicios y Recursos IDE</li>

        </ol>

        <div class="subcontenedor">

            <div class="col-md-12">
                <h1>Geoservicios y Recursos IDE</h1>
                <p>

                    Es un mecanismo de difusión e intercambio de información geoespacial que se pone a disposición de profesionales, sectores de gobierno, gobiernos regionales, gobiernos locales y sociedad civil en general; para que a través del internet puedan acceder a información relevante sobre la situación territorial y ambiental del país de manera transparente y actualizada.
                </p>
                <p>

                    <img src="@Url.Content("~/resources/images/thumbnails/geoservidor1.png")" />

                </p>

                <p>
                    El Geoservidor es un producto desarrollado en la Dirección General de Ordenamiento Territorial (DGOT), gracias al esfuerzo del equipo de profesionales del Sistema de Información Geográfica del Ministerio del Ambiente-SIGMINAM; y comprende los siguientes servicios de información:
                </p>
                <ul>

                    <li>Catálogo de Metadatos</li>
                    <li>Servicios WMS, WFS y WCS</li>
                    <li>Intercambio de Base de Datos</li>
                    <li>Documentos</li>
                    <li>Mapas descargables</li>
                </ul>
                <div class="limpiar"></div>
                <div class="espaciobottom"></div>
            </div>

        </div>

        <div class="limpiar"></div>
    </div>
</div>

